WebServices/wstopdown/src/main/webapp/WEB-INF/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://tutorial.jayramrout/employee/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tutorial.jayramrout/employee/definations" targetNamespace="http://tutorial.jayramrout/employee/definations">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:emp="http://tutorial.jayramrout/employee/schemas" elementFormDefault="qualified" targetNamespace="http://tutorial.jayramrout/employee/schemas">
	<element name="EmployeeRequest">
		<complexType>
			<all>
				<element name="Employee" type="emp:EmployeeType"/>
			</all>
		</complexType>
	</element>
	
	<complexType name="EmployeeType">
		<sequence>
			<element name="FirstName" type="string"/>
			<element name="LastName" type="string"/>
		</sequence>
	</complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="EmployeeRequest">
    <wsdl:part element="sch:EmployeeRequest" name="EmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="Employee">
      <wsdl:input message="tns:EmployeeRequest" name="EmployeeRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Employee">
      <soap:operation soapAction=""/>
      <wsdl:input name="EmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8081/wstopdown/employeeService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>